.gallery {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  color: var(--color-grey-dark-1);
  gap: 2rem;
  padding: 2rem;
}

.gallery__item {
  cursor: pointer;
}

.photo-card {
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.photo-card:hover {
  transform: translateX(-4px);
}

.photo-card img{
  width: 100px;
  height: 160px;
  object-fit: cover;
  display: block;

}

.photo-info {
  padding: 0.75rem;
  font-family: sans-serif;
}

.photo-info p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #444;
}

.photo-info .rover-name {
  font-weight: bold;
  color: #222;
}